body {
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: url(./Components/newpic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
/* .main {
    background-color: black;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  } */
  